.hero-cover2-icon {
  height: 939px;
  width: 1440px;
  position: relative;
  object-fit: cover;
  display: none;
  min-height: 939px;
  max-width: 100%;
}
.bandage {
  margin: 0;
  position: absolute;
  top: 29px;
  left: 196px;
  font-size: var(--h3-size);
  letter-spacing: 0.1px;
  line-height: 32px;
  font-weight: 700;
  font-family: inherit;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}
@media(max-width:768px){
  .bandage{
   margin-left: -160px;
  }
  .btn-321{
 margin-left: -1150px;
  }
  .btn-322{
    margin-left: -1150px;
  }
  
}
.navbar-toggler-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  width: 100%;
  height: 100%;
}
.navbar-toggler {
  position: absolute;
  top: 45px;
  left: 1358px;
  width: 24px;
  height: 13.7px;
  overflow: hidden;
  display: none;
}
.link {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  cursor: pointer;
}
.a {
  position: absolute;
  top: 32.5px;
  left: 424px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  color: var(--second-text-color);
}
.category {
  margin-top: -1px;
  margin-bottom: -2px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 28px;
  font-weight: 500;
  cursor: pointer;
}
.paragraph-icon {
  height: 5.7px;
  width: 10px;
  position: relative;
  object-fit: contain;
}
.dropdown-toggle {
  position: absolute;
  top: 32.5px;
  left: 482px;
  height: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-7xs);
  box-sizing: border-box;
  gap: 0 9px;
  text-align: left;
}
.h5,
.link1,
.link2 {
  height: 24px;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.h5 {
  letter-spacing: 0.1px;
  white-space: nowrap;
}
.link1,
.link2 {
  letter-spacing: 0.2px;
}
.link1 {
  white-space: nowrap;
}
.link2 {
  align-self: stretch;
}
.link2,
.link3,
.link4 {
  white-space: nowrap;
}
.link3,
.link4,
.link5,
.link6,
.link7 {
  height: 24px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.col-md-31,
.div1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div1 {
  width: 100px;
  gap: 10px 0;
  font-size: var(--h6-size);
  color: var(--second-text-color);
}
.col-md-31 {
  width: 193px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-29xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 20px 0;
}
@media (max-width:769px) {
  .bxbxphone{
    height: 700px;
  }
  .socialmedia{
    margin-left: -400px;
  }
}
.h51,
.link10,
.link11,
.link12,
.link8,
.link9 {
  height: 24px;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  white-space: nowrap;
}
.link10,
.link11,
.link12,
.link8,
.link9 {
  letter-spacing: 0.2px;
}
.link13 {
  align-self: stretch;
  white-space: nowrap;
}
.link13,
.link14 {
  height: 24px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.col-md-32,
.div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div2 {
  align-self: stretch;
  gap: 10px 0;
  font-size: var(--h6-size);
  color: var(--second-text-color);
}
.col-md-32 {
  width: 186px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-29xl) var(--padding-5xl) var(--padding-29xl)
    var(--padding-xl);
  box-sizing: border-box;
  gap: 20px 0;
}
.h52,
.link15,
.link16,
.link17,
.link18 {
  height: 24px;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
  display: inline-block;
  white-space: nowrap;
}
.link15,
.link16,
.link17,
.link18 {
  letter-spacing: 0.2px;
}
.link19 {
  align-self: stretch;
}
.link19,
.link20 {
  height: 24px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
  white-space: nowrap;
}
.col-md-33,
.div3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div3 {
  align-self: stretch;
  gap: 10px 0;
  font-size: var(--h6-size);
  color: var(--second-text-color);
}
.col-md-33 {
  width: 192px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-29xl) var(--padding-30xl) var(--padding-29xl)
    var(--padding-xl);
  box-sizing: border-box;
  gap: 20px 0;
}
.h53,
.link21,
.link22 {
  height: 24px;
  position: relative;
  line-height: 24px;
  display: inline-block;
}
.h53 {
  letter-spacing: 0.1px;
  white-space: nowrap;
}
.link21,
.link22 {
  letter-spacing: 0.2px;
}
.link23 {
  align-self: stretch;
  white-space: nowrap;
}
.link23,
.link24 {
  height: 24px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.col-md-34,
.div4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div4 {
  width: 81px;
  gap: 10px 0;
  font-size: var(--h6-size);
  color: var(--second-text-color);
}
.col-md-34 {
  width: 191px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-29xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 20px 0;
}
.col-md-35,
.drop-hero-icon,
.row2 {
  align-self: stretch;
  overflow: hidden;
  max-width: 100%;
}
.drop-hero-icon {
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.col-md-35,
.row2 {
  display: flex;
  align-items: flex-start;
}
.col-md-35 {
  width: 321px;
  background-color: var(--light-text-color);
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.row2 {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  gap: 0 30px;
}
.container1,
.dropdown-menu {
  position: absolute;
  overflow: hidden;
  max-width: 100%;
}
.container1 {
  top: 0;
  left: calc(50% - 525px);
  width: 1050px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.dropdown-menu {
  top: 90.5px;
  left: 482px;
  background-color: var(--light-gray-1);
  box-shadow: var(--accentued-drop-shadow);
  width: 100%;
  height: 368px;
  display: none;
  text-align: left;
  font-size: var(--h5-size);
}
.link25 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  white-space: nowrap;
}
.a1,
.li {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.li {
  position: absolute;
  top: 32.5px;
  left: 560px;
  background-color: var(--light-text-color);
  align-items: center;
  justify-content: center;
  color: var(--second-text-color);
}
.link26,
.link27,
.link28 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.iconbxbxmap {
  position: absolute;
  top: 33px;
  left: 620px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 12px;
  color: var(--second-text-color);
}
.icn-settings-icn-xs {
  height: 12px;
  width: 12px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.login-register {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  white-space: nowrap;
}
.btn-32 {
  position: absolute;
  top: 18px;
  left: 1210.5px;
  border-radius: var(--br-18xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-5xs) var(--padding-mini)
    var(--padding-mini);
  gap: 0 5px;
  color: var(--primary-text-color);
}
.icn-settings-icn-xs1 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.btn-321 {
  position: absolute;
  top: 22px;
  left: 1376.5px;
  border-radius: var(--br-18xl);
  width: 46px;
  height: 46px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini);
  box-sizing: border-box;
}
.icn-settings-icn-xs2 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.desktop-footer-container {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
}
.btn-322 {
  position: absolute;
  top: 22px;
  left: 1412.5px;
  border-radius: var(--br-18xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini);
  gap: 0 5px;
  font-size: var(--small-size);
  color: var(--primary-text-color);
}
.icn-settings-icn-xs3 {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.div5 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 16px;
}
.btn-323 {
  position: absolute;
  top: 22px;
  left: 1460.5px;
  border-radius: var(--br-18xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini);
  gap: 0 5px;
  font-size: var(--small-size);
  color: var(--primary-text-color);
}
.navbar {
  align-self: stretch;
  height: 91px;
  position: sticky;
  background-color: var(--light-text-color);
  overflow: hidden;
  flex-shrink: 0;
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: center;
  font-size: var(--h6-size);
  color: var(--text-color);
  font-family: var(--h6);
}
.shop-hero-3-product-slide-2-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.h1-headline2 {
  margin: 0;
  width: 658px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.2px;
  line-height: 80px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.small-scale-just,
.we-know-how {
  margin: 0;
}
.h31,
.h4 {
  position: relative;
}
.h4 {
  margin: 0;
  font-size: var(--h4-size);
  letter-spacing: 0.2px;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.h31 {
  letter-spacing: 0.1px;
  line-height: 32px;
}
.btn-lg-1,
.cta {
  display: flex;
  justify-content: flex-start;
}
.btn-lg-1 {
  border-radius: var(--br-8xs);
  background-color: var(--primary-text-color);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-mini) var(--padding-19xl);
  white-space: nowrap;
}
.cta {
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--h3-size);
}
.main-content {
  align-self: stretch;
  padding: var(--padding-21xl) var(--padding-12xs);
  box-sizing: border-box;
  gap: 24px 0;
}
.container2,
.main-content,
.row3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.row3 {
  align-self: stretch;
}
.container2 {
  width: 701px;
  flex-shrink: 0;
  padding: var(--padding-93xl) 0;
  box-sizing: border-box;
  z-index: 1;
}
.carouselcaptions,
.carouselcaptions1 {
  position: absolute;
  top: -3px;
  left: 440px;
  background-color: var(--light-text-color);
  width: 62px;
  height: 10px;
  display: none;
}
.carouselcaptions1 {
  left: 503px;
  width: 63px;
  opacity: 0.5;
}
.carousel-indicators {
  height: 6px;
  width: 1027px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  max-width: 100%;
  z-index: 2;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 44.5px;
  width: 24px;
  position: absolute;
  margin: 0 !important;
  bottom: 194.5px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.carousel-control-next-icon {
  right: 35px;
}
.carousel-control-prev-icon {
  left: 40px;
}
.carousel-item {
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-2xl) var(--padding-3xs)
    var(--padding-xl);
  position: relative;
  min-height: 640px;
}
.carousel-2,
.carousel-item,
.filter {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.carousel-2 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--light-text-color);
  border: 1px solid var(--color-gainsboro);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.filter {
  flex: 1;
  background-color: var(--color-gray-100);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-189xl);
  z-index: 1;
}
.background,
.desktop-shop-header-3 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.background {
  margin-bottom: -208px;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-image: url(/public/herocover2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
}
.desktop-shop-header-3 {
  align-self: stretch;
  height: 731px;
  background-color: var(--light-gray-1);
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--h1-size);
  color: var(--light-text-color);
  font-family: var(--h6);
}
/* @media screen and (max-width: 1050px) {
  .h1-headline2 {
    font-size: var(--font-size-27xl);
    line-height: 64px;
  }
  .filter {
    padding-bottom: var(--padding-116xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .container2,
  .filter {
    box-sizing: border-box;
  }
  .container2 {
    gap: 80px 0;
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
  }
  .filter {
    padding-bottom: var(--padding-69xl);
  }
  .desktop-shop-header-3 {
    gap: 0 40px;
  }
}
@media screen and (max-width: 450px) {
  .col-md-35 {
    width: calc(100% - 40px);
  }
  .h1-headline2 {
    font-size: var(--font-size-16xl);
    line-height: 48px;
  }
  .h4 {
    font-size: var(--h5-size);
    line-height: 24px;
  }
  .container2 {
    gap: 80px 0;
  }
} */
