.h54,
.link30,
.link31 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.link30,
.link31 {
  letter-spacing: 0.2px;
}
.link32 {
  white-space: nowrap;
}
.link32,
.link33 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.col-md-26,
.div15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div15 {
  gap: 10px 0;
  font-size: var(--h6-size);
}
.col-md-26 {
  width: 148px;
  overflow: hidden;
  flex-shrink: 0;
  gap: 20px 0;
}
.h55,
.link34,
.link35 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.link34,
.link35 {
  letter-spacing: 0.2px;
}
.link36 {
  white-space: nowrap;
}
.link36,
.link37 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.col-md-27,
.div16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div16 {
  gap: 10px 0;
  font-size: var(--h6-size);
}
.col-md-27 {
  width: 152px;
  overflow: hidden;
  flex-shrink: 0;
  gap: 20px 0;
}
.h56 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.link38 {
  white-space: nowrap;
}
.link38,
.link39,
.link40,
.link41 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.col-md-28,
.div17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div17 {
  gap: 10px 0;
  font-size: var(--h6-size);
}
.col-md-28 {
  overflow: hidden;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 20px 0;
}
.h57,
.link42 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.link42 {
  letter-spacing: 0.2px;
}
.link43 {
  white-space: nowrap;
}
.link43,
.link44,
.link45 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.col-md-29,
.div18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div18 {
  gap: 10px 0;
  font-size: var(--h6-size);
}
.col-md-29 {
  width: 152px;
  overflow: hidden;
  flex-shrink: 0;
  gap: 20px 0;
}
.h58 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 24px;
}
.bxbx-phone-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.h616 {
  height: 29.3px;
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.feature-item {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 10px;
}
.bxbx-map-icon,
.h617 {
  position: relative;
  flex-shrink: 0;
}
.bxbx-map-icon {
  height: 30px;
  width: 24px;
  overflow: hidden;
  min-height: 30px;
}
.h617 {
  height: 29.3px;
  width: 205px;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
}
.feature-item1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 10px;
}
.carbonsend-alt-icon {
  height: 26px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.h618 {
  height: 29.3px;
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 24px;
  display: inline-block;
  white-space: nowrap;
}
.col-md-42,
.div19,
.feature-item2 {
  display: flex;
  justify-content: flex-start;
}
.feature-item2 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: 0 10px;
}
.col-md-42,
.div19 {
  flex-direction: column;
}
.div19 {
  align-self: stretch;
  align-items: center;
  gap: 10px 0;
  font-size: var(--h6-size);
}
.col-md-42 {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  gap: 20px 0;
  min-width: 155px;
}
.container4,
.div14,
.row10 {
  overflow: hidden;
  display: flex;
  max-width: 100%;
}
.row10 {
  width: 959px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 30px;
}
.container4,
.div14 {
  box-sizing: border-box;
}
.container4 {
  width: 1090px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-xl);
}
.div14 {
  align-self: stretch;
  background-color: var(--text-color);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0 var(--padding-11xs);
  text-align: left;
  font-size: var(--h5-size);
  color: var(--light-text-color);
  font-family: var(--h6);
}
@media screen and (max-width: 750px) {
  .div14 {
    gap: 0 40px;
  }
}
